
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Employee Management</h2>
        </div>
        <div class="col text-right ml-5">
            <button type="button" class="btn btn-outline-success"><i class="fas fa-plus"></i> Add Employee</button>
        </div>
    </div>
    <hr>


    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vijay</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Full Stack Developer</h6>
                    <span class="badge badge-success">Design</span>
                    <hr>
                    <button type="button" class="btn btn-outline-primary">Edit</button>
                    <button type="button" class="btn btn-outline-danger">Delete</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Komal Ji</h5>
                    <h6 class="card-subtitle mb-2 text-muted">SeniorSoftawre Developer</h6>
                    <span class="badge badge-danger">Accountants</span>
                    <hr>
                    <button type="button" class="btn btn-outline-primary">Edit</button>
                    <button type="button" class="btn btn-outline-danger">Delete</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Supriya</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Software Developer</h6>
                    <span class="badge badge-success">Coder</span>
                    <hr>
                    <button type="button" class="btn btn-outline-primary">Edit</button>
                    <button type="button" class="btn btn-outline-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>
