<nav class="navbar navbar-light bg-light mb-5">
    <div class="container">
        <a class="navbar-brand font-weight-bold">Empyolee Management System</a>
    </div>
</nav>


<!-- <h1>hallo codex</h1>
<h2>hallo codex</h2> -->
<!-- <h3>hallo codex</h3>
<h4>hallo codex</h4>
<h5>hallo codex</h5>
<h6>hallo codex</h6> -->
<!-- <span id="hr">welcome</span>
<span id="he">Codex</span> interpolation-->
<!-- <h1>welcome to codex family {{name.toUpperCase()}}</h1>
{{5 * 10}} -->
<!-- <p> <span class="ho">Horoscope</span> for May 18 by Astro Sundeep Kochar: Family will favour you Virgos, <br>  <br> <br> <br> Capricorns will have some financial issues!</p> -->
<!-- <app-header></app-header> -->
<!-- <br>
<br>
<br>
<input type="text" placeholder="enter your name" [value]=""> -->
<!-- <app-data-binding></app-data-binding> -->

<app-mean></app-mean>
   