<!-- <nav class="navbar navbar-light bg-light mb-5">
    <div class="container">
        <a class="navbar-brand font-weight-bold">Empyolee Management System</a>
    </div>
</nav> -->


<!-- <h1>hallo codex</h1>
<h2>hallo codex</h2> -->
<!-- <h3>hallo codex</h3>
<h4>hallo codex</h4>
<h5>hallo codex</h5>
<h6>hallo codex</h6> -->
<!-- <span id="hr">welcome</span>
<span id="he">Codex</span> interpolation-->
<!-- <h1>welcome to codex family {{name.toUpperCase()}}</h1>
{{5 * 10}} -->
<!-- <p> <span class="ho">Horoscope</span> for May 18 by Astro Sundeep Kochar: Family will favour you Virgos, <br>  <br> <br> <br> Capricorns will have some financial issues!</p> -->
<!-- <app-header></app-header> -->
<!-- <br>
<br>
<br>
<input type="text" placeholder="enter your name" [value]=""> -->
<!-- <app-data-binding></app-data-binding> -->

<!-- <app-mean></app-mean> -->



<ul class="nav nav-tabs navbar-light bg-light">
    <li class="nav-item">
      <a class="nav-link bg-dark" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link bg-danger" routerLinkActive="active" routerLink="/about">AboutUs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link bg-success" routerLinkActive="active" routerLink="/product">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link bg-primary" routerLinkActive="active" routerLink="contact">ContactUs</a>
    </li>
</ul>
<router-outlet></router-outlet>
<!-- <app-mean></app-mean> -->
<!-- <app-tempate-referance></app-tempate-referance> -->
<!-- <app-ng-switch></app-ng-switch> -->



<div class="container rounded shadow py-5" style="width: 500px;">
  <form #myForm= "ngForm" (submit)="onSubmit(myForm)">
    <div class="form-group">
      <label for="user">Username*</label>
      <input type="password" #user="ngModel" class="form-control" id="user" [(ngModel)]="account" name="username" required placeholder="please enter your account number">
      <small *ngIf="!user.touched">your account number is {{account}}</small>
    </div>
    <div class="form-group">
      <label for="email">Email*</label>
      <input type="text" class="form-control" id="email" ngModel name="email" required email #email="ngModel">
      <small *ngIf="email.invalid && email.touched" style="color: red;">Please Enter Valid Email</small>
    </div>
    <div class="form-group">
      <label for="course">Select Course</label>
      <select class="form-control" id="course" [(ngModel)]="defaultCourse" name="course">
        <option value="Angular">Angular</option>
        <option value="Angular">NodeJs</option>
        <option value="Angular">HTML5</option>
      </select>
    </div>
    <button type="submit" [disabled]="myForm.invalid" class="btn btn-success message">Submit</button>
  </form>
</div>
   