/* You can add global styles to this file, and also import other style files */
/* h1{
    font-family: 'Courier New', Courier, monospace;
}
h2{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgba(58, 58, 97, 0.582);
}

#hr{
    background-color: chartreuse;
}

#he{
    background-color: yellowgreen;
}

.ho{
    color: violet;
}

p{
    font-size: 50px;
    line-height: 10px;
} */